.performance-items{
    padding-top: 68px;
}
.performance-inner {
    background: white;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 5px;
}
.performance-title{
    font-family: caps;
    color: #D02F27;
    font-size: 32px;
    margin: 0;
}
.performance-poster{
    margin-top: 24px;
}
.performance-describtion{
    margin-top: 24px;
}
.describtion-title,
.stuff-title,
.actors-title{
    display: flex;
    align-items: center;
}
.describtion-title >h2,
.stuff-title >h2,
.actors-title >h2{
    font-size: 18px;
    color: #101223;
    font-family: caps;
    margin-left: 6px;
    margin-bottom: 0;
}
.performance-describtion >p{
    color:#101223;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 0;
}
.performance-stuff,
.performance-actors{
    margin-top: 48px;
}
.stuff-list{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.stuff-box >h2{
    color: #404252;
    font-family: medium;
    font-size: 14px;
    margin: 0;
}
.stuff-box >a,
.actors-box >a{
    color: #101223;
    font-size: 14px;
    font-family: medium;
    text-decoration: none;
    transition: 0.5s;
}
.stuff-box >a:hover,
.actors-box >a:hover{
    color: #D02F27;
}
.actors-list{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.actors-box{
    display: flex;
    flex-direction: column;
}
.month-input{
    position: relative;
}
.choose-month svg{
    position: absolute;
    right: 12px;
    top: 45px;
}
.month-input input{
    width: 100%;
    padding: 10px 0px 10px 12px;
    outline: none;
    border: none;
    border: 1px solid #D2D4DA;
    border-radius: 5px;
    margin-top: 6px;
    color: #D02F27;
    font-size: 18px;
    font-family: caps;
}
.month-input input::placeholder{
    font-family: caps;
    font-size: 18px;
    color: #D02F27;

}
.month-input label{
    color: #101223;
    font-size: 16px;
    font-family: medium;
}
.month-input .selected{
    background: white;
    position: absolute;
    width: 100%;
    top: 77px;
    left: 0;
    border-radius: 5px;
    transition: all 0.5s;
    z-index: 1;
    height: 0px;
    overflow: hidden;
    overflow-y: scroll;
}
.month-input .selected::-webkit-scrollbar{
    width: 3px;
}
.month-input .selected::-webkit-scrollbar-thumb {
    background-color: #D02F27;
  }
.month-input .selected.active{
  height: 100px;
}
.performance-calendar ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    color: grey;
    position: relative;
    margin-top: 15px;
}
.performance-calendar ul:before{
    content: '';
    width: 1px;
    height: 100%;
    background-color: #D2D4DA;
    position: absolute;
    right: 40px;
}
.performance-calendar ul li{
    cursor: pointer;
    margin: 0px 0 10px 0px;
}
.performance-calendar ul li.active {
    color: #D02F27;
    font-weight: bold;
}
.performance-calendar ul li.available {
    color: black;
    font-weight: bold;
}

.performance-calendar ul li.availableactive{
    color: #D02F27;
    font-weight: bold;
    position: relative;
}
.performance-calendar ul li.availableactive::before{
    content: '';
    background-color: #D02F27;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    position: absolute;
    left: -26px;
    top: 10px;
}
.performance-calendar .titles{
    width: 230px;
    background-color: white;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 50px;
    position: absolute;
    top: 0px;
    left: -260px;
}
.performance-calendar ul .titles ul::before{
    background-color: unset;
}
.titles ul{
    list-style: none;
    margin: 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.performance-calendar ul .titles li{
    padding: 0;
    font-size: 14px;
    color: #5B5D6B;
    cursor: pointer;
    margin: 0;
}
.performance-calendar ul .titles li.active{
    color:#D02F27;
}
.performance-poster .slick-dots{
    bottom: -142px;
    width: 100%;
    display: flex!important;
    justify-content: space-between;
}
.performance-poster .slick-dots li{
    width: 160px;
    height: 140px;
    margin: 0;
    border-radius: 5px;
}
.performance-poster .slick-dots li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.performance-inner .event-table{
    margin-top:170px;
}
.performance-poster .slick-next{
    right: 30px;
    top: 590px;
}
.performance-poster .slick-prev{
    left: 30px;
    top: 590px;
}

@media(max-width:1200px){
    .performance-calendar .titles{
        width: 190px;
        left: -220px;
    }
}

@media(max-width:990px){
    .performance-calendar .titles{
        width: 140px;
        left: -170px;
    }
}