.person-inputs{
    width: 384px;
    margin: 24px auto auto auto;
}
.person-inputs form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
}
.person-input input{
    width: 100%;
    border: 1px solid #D2D4DA;
    border-radius: 5px;
    outline: none;
    padding: 11px 12px;
    margin-top: 6px;
}
.person-input input::placeholder{
    color: #9496A1;
    font-size: 14px;
    font-family: medium;
}
.person-input label{
    color: #101223;
    font-size: 14px;
    font-family: 'medium';
    margin-left: 12px;
}
.credit-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.credit-cards >h4{
    margin-top: 24px;
    color: #101223;
    font-size: 14px;
    font-family: medium;
}
.credit-cards span{
    color: #D02F27;
    font-size: 14px;
    font-family: medium;
}
.transfer-btn button{
    width: 100%;
    border: none;
    background: #D02F27;
    color: white;
    font-size: 18px;
    font-family: 'caps';
    border-radius: 5px;
    padding: 11px;
}
.donors{
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donor-header{
    display: flex;
    justify-content: center;
    color: #101223;
    font-family: 'caps';
    font-size: 36px;
}
.donor-list{
    margin-top: 24px;
    background-color: white;
    border-radius: 5px;
    width: 384px;
    
}
.donor-title{
    display: flex;
    justify-content: space-between;
    padding: 15px 24px 15px 24px;
    border-bottom: 1px solid #D02F27;
}
.donor-title .right-title .donor-date{
    margin-right: 30px;
}
.donor-title >h2,
.donor-date,
.donor-money{
    color: #101223;
    font-family: caps;
    font-size: 14px;
    margin: 0;
}
.donor-money{
    margin-left: 143px;
}
.donor-members{
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 12px 24px;
    border-bottom: 1px solid rgb(235, 230, 230);
}
.donor-name{
    color: #101223;
    font-family: medium;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.donor-date-info{
    color: #101223;
    font-family: 'medium';
    font-size: 14px;
}
.donor-money-info{
    color: #101223;
    font-family: 'medium';
    font-size: 14px;
    margin-left: 114px;
    margin-right: 6px;
}
.donor-members:last-child{
    border:none;
}
@media(max-width:430px){
    .person-inputs{
        width: unset;
        padding: 24px;
    }
    .donor-list{
        width:300px;
    }
    .person-input label,
    .person-input input::placeholder,
    .credit-cards >h4{
        font-size: 12px;
    }
    .transfer-btn button{
        font-size: 16px;
    }
    .donor-header{
        font-size: 30px;
    }
    .donor-name,
    .donor-date-info{
        font-size: 12px;
    }
}
@media(max-width:330px){
    .donation-list{
        font-size: 16px;
    }
}
@media(min-width:430px){
    .donor-list{
        width: 384px;
    }
}