.main-page-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}
nav{
    position: fixed;
    z-index: 1;
    width: 100%;
}
.main-page-items ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0px;
}
.main-logo img {
        width: 100%;
        height: 100%;
        
}
.main-page-items li{
    padding-right: 36px;
}
.main-page-items .nav-links{
    text-decoration: none;
    color: #101223;
    font-size: 20px;
    font-family: caps;
    position: relative;
}
.main-page-items .nav-links:hover::after{
    width: 100%;
}
.main-page-items .nav-links::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 0%;
    background: #D02F27;
    transition: all 0.3s;
}
.enter-donation{
    display: flex;
}
.donation{
    padding: 13px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #27D06B;
    font-size: 18px;
    font-family: caps;
    margin-right: 24px;
    text-decoration: none;
    transition: all 0.5s;
    height: 48px;
}
.donation path{
    stroke: #27D06B;
}
.donation svg,
.enter svg{
    margin-right: 8px;
}
.donation:hover{
    background-color: #27D06B;
    color: white;
}
.donation:hover path{
    stroke: white;
}
.enter{
    padding: 13px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #101223;
    font-size: 18px;
    font-family: caps;
    text-decoration: none;
    transition: all 0.5s;
    height: 48px;
}
.enter:hover{
    background-color: #101223;
    color: white;
}
.enter path{
    stroke: #101223;
}
.enter:hover path{
    stroke: white;
}
.hamburger{
    display: none;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 50;
}
.nav-menu-items-active{
    display: flex;
    flex-direction: column;
    align-items: flex-start!important;
    width: 240px;
    height:60vh;
    position: absolute;
    top: 0px;
    left:0;
    background-color: white;
    padding-left: 15px;
    z-index: 23232;
}
.nav-menu-items-active li{
    margin-top: 20px;
    margin-left: 14px;
}
.nav-menu-items-active .nav-links{
    font-size: 16px;
}
.nav-menu-items-active .enter-donation{
    display: flex;
    flex-direction: column;
}
.responsive-menu{
    position: absolute;
    top:0;
    left: -100%;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
}
.responsive-menu.active{
    left: 0;
}
@media(max-width:1300px){
 .main-page-items .nav-links{
     font-size: 18px;
 }
}


@media(max-width:1280px){
    .main-logo img{
        width: 70px;
        height: 70px;
    }
    .enter-donation{
        display: none;
    }
    .close-btn{
        display: block;
        cursor: pointer;
    }
    
    .responsive-menu .enter-donation{
        flex-direction: column;
        margin-top: 24px;
    }
    .responsive-menu .enter,
    .responsive-menu  .donation{
        font-size: 16px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .main-page-items{
        flex-direction: row-reverse;
    }
   
    .nav-menu-items{
        display: none!important;
    }
   
}
@media(max-width:768px){
    .main-logo img {
        width: 50px;
        height: 50px;   
    }
}
@media(max-height:874px){
    .nav-menu-items-active{
        height: 83vh;
    }
}