.event-detail{
    padding-top: 80px;
    min-height: calc(100vh - 128px);
}
.event-detail-items{
    padding-top: 48px;
}
.event-detail-frame{
    background-color: white;
    padding: 24px;
    border-radius: 5px;
}
.event-detail-img{
    width: 100%;
    margin-top: 24px;
}
.event-detail-img img{
    width: 100%;
    object-fit: cover;
}
.event-name{
    color: #D02F27;
    font-size: 32px;
    font-family: caps;
    margin: 0;
}
.event-left{
    display: flex;
}
.event-left .event-duration{
    margin-left: 48px;
}



.event-detail-text{
    margin-top: 24px;
}
.event-detail-title{
    display: flex;
    align-items: center;
}
.event-detail-title >h3{
    color: #101223;
    font-size: 18px;
    font-family: caps;
    margin: 0;
    margin-left: 6px;
}
.event-detail-text >p{
    margin-top: 12px;
    color: #101223;
    font-size: 14px;
    
}

@media(max-width:1280px){
    .event-detail-frame{
        background-color: transparent;
    }
}
@media(max-width:768px){
    .event-name{
        font-size: 26px;
    }
}
@media(max-width:590px){
    .event-table{
        flex-direction: column;
        align-items: flex-start;
    }
    .event-table >a{
        margin-top: 24px;
    }
    .event-detail-text{
        margin-top: 48px;
    }

}
@media(max-width:360px){
    .event-name{
        font-size: 22px;
    }
}